@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";
a.active hr {
  display: block;
}
.burgerNav a.active {
  background-color: black;
  color: white;
}
* {
  font-family: Outfit;
}
::-webkit-scrollbar {
  display: none;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
